@model Connection.Models.UsersListViewModel

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var user in Model.Users)
{
    <div>
        <h2>@user.FirstName @user.LastName</h2>
        <h3><a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">@user.Login</a></h3>
        <a class="text-danger" asp-controller="Home" asp-action="Remove" asp-route-id="@user.Id">Usuń</a>
        <ul>
            @foreach(var project in user.Projects)
            {
                <li>@project</li>
            }
        </ul>
    </div>
}